html {
  background: url(https://static.pexels.com/photos/27472/pexels-photo.jpg) no-repeat center center fixed;
  background-size: cover;    
}

body {
  color:linear-gradient(to left, rgba(222,164,125,.9), rgba(92,74,125,.9));
  opacity: 0.8;
}

.jumbotron {
   margin-top: 10%;
    margin-bottom:25%;
    margin-left: 15%;
    margin-right: 15%;
    opacity: 0.9;
}

.main {
    padding-left: 10%;
  background:black;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left,  rgba(226,175,225,.3), rgba(221,210,197,.3),rgba(255,249,254,.3), rgba(221,210,197,.3), rgba(226,175,225,.3));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, rgba(0,0,0,.9), rgba(121,210,197,.3),rgba(255,249,254,.3), rgba(121,210,197,.3), rgba(0,0,0,.9));
  padding:10px 0 15px
  padding: 10px;
  opacity: 0.9;
}

.instruct {
  padding-top: 0;
  margin-top: 0;
}

.random {
  margin-top: 5px;
}
